/*  your css code here. If applicable */
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

#line {
  position: absolute;
  width: 200px;
  height: 2px;
  background-color: black;
  top: 50%;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(0deg);
}
